button,
.MuiButton-root,
.service-btn,
#home .home-btn,
#home .home-btn-alt,
#contacts .contacts-btn,
#contacts button,
#contacts .contacts-btn,
#services .service-btn,
#portfolio .portfolio-btn,
#reviews .reviews-btn,
footer .footer-contact-btn,
footer button,
footer .MuiButton-root {
  outline: none !important;
}

button:focus,
button:focus-visible,
.MuiButton-root:focus,
.MuiButton-root:focus-visible,
.service-btn:focus,
.service-btn:focus-visible,
#home .home-btn:focus,
#home .home-btn:focus-visible,
#home .home-btn-alt:focus,
#home .home-btn-alt:focus-visible,
#contacts .contacts-btn:focus,
#contacts .contacts-btn:focus-visible,
#contacts button:focus,
#contacts button:focus-visible,
#services .service-btn:focus,
#services .service-btn:focus-visible,
#portfolio .portfolio-btn:focus,
#portfolio .portfolio-btn:focus-visible,
#reviews .reviews-btn:focus,
#reviews .reviews-btn:focus-visible,
footer .footer-contact-btn:focus,
footer .footer-contact-btn:focus-visible,
footer button:focus,
footer button:focus-visible,
footer .MuiButton-root:focus,
footer .MuiButton-root:focus-visible {
  outline: none !important;
}
